container {
    flex: 1,
    alignItems: 'center',
    justifyContent: 'center',
}
  box {
    width: 200,
    height: 200,
    backgroundColor: 'red',
  }
  button{
    backgroundColor: 'black',
    paddingHorizontal: 20,
    paddingVertical: 15,
    marginTop: 15,
  }
  buttonText {
    color: '#fff',
    fontWeight: 'bold',
  }
});
